/**
* Portfolio - main.css
* by Tyler Darby
* This file contains the styles used for the portfolio
* site. There are also styles provided by the HTML5 boilerplate
* to increase cross-browser compatibility.
*/

/* ==========================================================================
   Boilerplate Defaults (html5-boilerplate)
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ==========================================================================
   Main Styles
   ========================================================================== */

body {
  background-color: #000;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#console {
  font-family: courier, monospace;
  color: #fff;
  width: 100%; /* Ensure console fits within viewport */
  max-width: 800px; /* Maintain max width for larger screens */
  margin: 20px auto; /* Apply margin and center horizontally */
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 14px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

#logo {
  max-width: 100%;
  display: block;
  text-align: center; /* Center the logo horizontally */
  margin: 0 auto; /* Center the logo horizontally */
}

a {
  color: #0bc;
  text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
  color: #0bc;
}

#b {
  color: #ff0096;
}

#k {
  animation: change 1s;
}

#op{
  color: #888888
}

#clinput {
  background: transparent;
  border: none;
  caret-color: #0f0;
  color: #fff;
  width: 500px;
}

#clinput:focus {
  outline: none;
}

#nametext {
  color: #0f0;
}

#clinputcontainer {
  display: inline;
}

#footer {
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
  font-family: courier, monospace;
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
  background-color: #000;
}

.braces {
  color: #0f0;
}

.uname {
  color: rgb(30, 188, 189)
}

.hostname {
  color: rgb(151, 22, 13);
}

@media only screen and (max-width: 800px) {
  #console {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8%;
  }

  #clinput {
    width: 100%;
  }

  #footer {
    font-size: 12px;
  }
}

@media only screen and (min-width: 801px) {
  #console {
    font-size: 14px; /* Adjust font size for larger screens */
  }

  #logo {
    max-width: 80%; /* Adjust logo size for larger screens */
  }
}

@keyframes change {
      0%  { color:  #0f0; }
      50% { color:  #0f0; }
      99% { color: black; }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ==========================================================================
   Helper Classes - (html5-boilerplate)
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard: 
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media queries (html5-boilerplate)
   ========================================================================== */

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

